<link rel="stylesheet" href="bower_components/bootstrap/dist/css/style.css" />
<style>
.timetable{

font-size:1.1em;
color:white;
text-align: center;
}
.timetable-div
{
  margin-top: 5px;
}



</style>
<div class="container infoPageMainContainer" ng-repeat="x in $ctrl.awesomeThings" >
<div class="infoPageMainwrapper">
<div  class="row"  >
<div class="col-md-7">
<div class="bookedmovieinfo">
<div class="moviepostercontainer"><img src="{{x.poster}}"alt="img" class="movieposter"/></div>
<p class="bookedmovietitle" > {{x.title}}</p>
<p class="bookedmovieoverview" > {{x.overview}}</p>
<table>
  <tr>
    <td>
<div>
 <p class="bookedmovietitle">Movie Rating</p>
</div>
</td>
</tr>
<tr>
  <td>
   <div class="rate">
       <input type="radio" id="star5" name="rate" value="5" ng-click="$ctrl.rate1(5)" /><label for="star5" title="text">5 stars</label>
       <input type="radio" id="star4" name="rate" value="4" ng-click="$ctrl.rate1(4)" /><label for="star4" title="text">4 stars</label>
       <input type="radio" id="star3" name="rate" value="3" ng-click="$ctrl.rate1(3)" /><label for="star3" title="text">3 stars</label>
       <input type="radio" id="star2" name="rate" value="2" ng-click="$ctrl.rate1(2)" /><label for="star2" title="text">2 stars</label>
       <input type="radio" id="star1" name="rate" value="1" ng-click="$ctrl.rate1(1)" /><label for="star1" title="text">1 star</label>
   </div>
 </td>
 </tr>
 </table>
 </div>
</div>
<div class="col-md-5">
<div class="bookingheadings">
<div class="bookingheadingstext"><p><span class="glyphicon glyphicon-map-marker"></span>Select state</p></div>
<div  class="timetable-div">
<span ng-repeat="city in $ctrl.newUniquestate " >
  <a ng-click="$ctrl.getdate(city)"  href="#">
<span class="badge" >
  {{city}}
</span>
</a>

</span>
</div>

<div  class="timetable-div" ng-if="$ctrl.d==1"   >
  <div class="bookingheadingstext"><p><span class="glyphicon glyphicon-calendar"></span>Select Date</p></div>
  <div class="timetable-div" >
<!-- to select date -->
<span ng-repeat="date in $ctrl.select_date track by $index" >

      <a href="#" ng-click=$ctrl.gettime(date,city) > <span class="badge" >{{date}}</span></a>
</span>
</div>
</div>

<!-- select time -->
<div class="timetable-div"  ng-if="$ctrl.t==1" >
  <div class="bookingheadingstext"><p><span class="glyphicon glyphicon-time"></span>Select show Time</p></div>
  <div class="timetable-div">
<span ng-repeat="time in $ctrl.selecttime track by $index" >
      <a href="" ng-click="$ctrl.gettlocation(time)" > <span class="badge" >{{time}}</span></a>
</span>
</div>
</div>


<div  class="timetable-div" ng-if="$ctrl.tl==1" >
  <div class="bookingheadingstext"><p><span class="glyphicon glyphicon-facetime-video"></span>Select Therater</p></div>
  <div class="timetable-div">
<span ng-repeat="name in $ctrl.name track by $index" >
      <a href="" ng-click="$ctrl.seatselect(name)" > <span class="badge" >{{name}}</span></a>
</span>
</div>
</div>
</div>
</div>
 </div>
<!-- first row end -->
</div>
</div>
